################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/native/.vs
/native/build
/native/build_linux
/native/lib
/native/out